.wrapC{
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
}

.wrapC div{
  margin:60px
}

.wrapR{
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
}
.wrapR a{
  margin:30px
}
